/* Diseño moderno y minimalista para el formulario de login */
.login-container {
    background-color: #2e2e35;
    padding: 50px;
    width: 1436px;
    height: 595px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.login-title {
    font-size: 2.5rem;
    margin-bottom: 40px;
    color: #FFDB00;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: bold;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-label {
    font-size: 1.1rem;
    margin-bottom: 5px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #FFDB00;
}

.login-input {
    width: 30%;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #FFDB00;
    border-radius:15px;
    background-color: #0f1010;
    color: #FFDB00;
    font-size: 1rem;
    text-align: center;
}

.login-input::placeholder {
    color: #FFDB00;
    opacity: 0.7;
}

.login-input:focus {
    outline: none;
    border-color: #FFD700;
    background-color: #1c1c1e;
}

.login-button,.registro-button {
    width: 80%;
    padding: 15px;
    border: none;
    border-radius: 15px;
    background-color: #FFDB00;
    color: #060807;
    font-weight: bold;
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin-top: 20px;
}

.login-button:hover {
    background-color: #e6c500;
    transform: translateY(-3px);
}

.login-error {
    color: #ff0000;
    background-color: transparent;
    padding: 10px;
    margin-top: 15px;
    text-align: center;
    font-size: 1rem;
}




/* Estilos para el modal */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(129, 124, 124, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-content {
    background-color: #1c1c1e;
    padding: 30px;
    border-radius: 10px;
    position: relative;
    text-align: center;
    color: #FFDB00;
    max-width: 400px;
    width: 100%;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    color: #FFDB00;
    font-size: 20px;
    cursor: pointer;
}

.buttons {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}
.colase-button{
    background-color: #FFDB00;
    color: #0f1010;
    border: 1px solid #FFDB00;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.2rem;
    position: relative;
    top: 400px;
    right: 90px;
    
}
