.Header{
    background-color:#181818;
    height: 80px;
}
.item-headers{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding: 0 100px;
    color: #FFFFFF; 
    display: flex;
    gap: 25px;
    font-size: 22px;
}
.items-menu-titulos{
    display: flex;
    gap: 25px;
}
.item-menu-iconos{
    display: flex;
    gap: 25px;
}
.logo-img{
    width: 130px;
}
.item-buscador{
    display: flex;
    margin-left: 150px;
    gap: 10px;
}
.input-buscador{
    width: 210px;
    height: 20px;
    border-radius: 15px; /* Bordes redondeados */
}

/*aumento de carrito*/
.aumentoCarrito{
    position: absolute;
    top:40px;
    right: 136px;
    font-size: 15px;
    color: red;
    font-weight: bold;
}

.linkCarrito{
    text-decoration: none;
    color: white;
}

